<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <% if member_signed_in? %>
      <th>Author</th>
      <% end %>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <% if member_signed_in? %>
        <td><%= post.member.name %></td>
        <% end %>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <% if member_signed_in? && post.member.id == current_member.id %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %> <br>
<% if member_signed_in? %>
<%= link_to 'Log out', destroy_member_session_path, method: :delete %> <br>
<% else %>
<%= link_to 'Log in', new_member_session_path %> <br>
<% end %>
